
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.container {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 4px 8px;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3ba05f;
    color: black;
    font-weight: semibold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #0e512a;
}

span {
    font-size: 20px;
}